
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
               <form action="{% url 'set_new_password' %}" method="post">
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input name="password1" id="password1" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input name="password2" id="password2" class="form-control">
                    </div>
                   {% csrf_token %}
                   <input type="hidden" name="uidb64" value="{{ uidb64 }}">
                   <input type="hidden" name="token" value="{{ token }}">
                   <button type="submit" class="btn btn-primary">Submit</button>
               </form>
            </div>
        </div>
    </div>